<div class="row">
  <div class="col s12 m6">
    <div class="card horizontal small blue-grey darken-1">
      <div class="card-image">
        <%= image_tag attachments["#{Time.zone.today.year}-#{Time.zone.today.month}-#{Time.zone.today.day}.jpg"].url %>
      </div>
      <div class="card-stacked">
        <div class="card-content white-text">
          <span class="card-title"><%= link_to @card.title, card_url(@card) %></span>
          <p><%= @card.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="collection">
  <%= link_to root_url, class: 'collection-item' do %>
    <%= image_tag "#{root_url}sources/#{@card.source}.jpg", class: 'circle left' %>
    <span class="title"><%= User.find(@card.source).name %></span>
  <% end %>
  <%= link_to root_url, class: 'collection-item' do %>
    <%= image_tag "#{root_url}calendar-icon.png", class: 'circle left' %>
    <span class="title"><%= Era.find(@card.era).name %></span>
  <% end %>
</ul>