<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><i class="fa fa-home fa-fw"></i>Home</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-list-alt fa-fw"></i>Widgets</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-file-o fa-fw"></i>Pages</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-bar-chart-o fa-fw"></i>Charts</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-table fa-fw"></i>Table</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-tasks fa-fw"></i>Forms</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-calendar fa-fw"></i>Calender</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-book fa-fw"></i>Library</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-pencil fa-fw"></i>Applications</a></li>
        <li><a href="http://www.jquery2dotnet.com"><i class="fa fa-cogs fa-fw"></i>Settings</a></li>
      </ul>
    </div>
    <div class="col-md-9 well">
      Vertical admin menu
    </div>
  </div>
</div>

<p>Current Cards: <%= @cards.count %></p>

<a href="<%= new_card_path %>">Add Card</a>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>

  <% @cards.each do |card| %>
      <tr>
        <td><%= link_to truncate(card.title, length: 15), card_path(card) %></td>
        <td><%= link_to truncate(card.description, length: 15), card_path(card) %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Delete', card_path(card),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>